body {
    background-color: #101010;
    font-family: sans-serif;
    color: white;
    justify-content: center;
    align-items: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

section{
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div {
    color: white;
    justify-content: center;
    align-items: center;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.inline {
    display: inline-block;
    }

button > p {
    margin-block: 12px;
}

button.small > p {
    margin-block: 9px;
}

button.buyable{
    background-color: rgba(40, 0, 0, 0.25);
}
button.bought{
    background-color: rgba(0, 40, 0, 0.25);
}
button.building{
    background-color: #141400;
}



button {
    width: 250px;
    margin: 10px;
    padding: 5px;
    background-color: rgba(0,0,0, 0.25);
    color: white;
    border: 1px solid white;
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    flex-direction: column;

}

button.small {
    width: 150px;
    margin: 5px;
    padding: 3px;
    border-radius: 7px;
    cursor: pointer;
    display: flex;
    flex-direction: column; 
}

button.tip{
    width: 30px;
    border-radius: 5px;    
    display: flex;
}
button.version{
    width: 50px;
}


/* body {
    background-color: #101010;
    color: white;
    display: flex;
    flex-direction: column;
}

button {
    width: 200px;
    height: 80px;
    background-color: rgba(0,0,0, 0.25);
    color: white;
    border: 1px solid white;
    border-radius: 15px;
    
} */